.wrapper_example {
    display: flex;
    h1 {
        font-size: rem(20)
    }
}

#main {
    // background-image: url('../../img/rain-09.jpg');
    // background-image: url('./rain-10.jpg');
    width: 100%;
}